/root/PySpark/Step3_setup_spark_cluster/5_Spark/db.sql/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/db.sql/spark-apps/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/db.sql/spark-data/
