/root/PySpark/Step3_setup_spark_cluster/5_Spark/db.sql/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/postgres-data/pg_stat_tmp/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/spark-apps/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/spark-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/general-postgres-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/general-postgres-data/pg_stat_tmp/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mongodb-data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mongodb-data/diagnostic.data/
/root/PySpark/Step3_setup_spark_cluster/5_Spark/mongodb-data/journal/
.vscode/
